body{ 
    background-image: url("../IMAGES/fondo.jpg");
     background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align:center;
    border-color:white;
    border-style:800px;
    font-family: cursive;
    font-size: 150px;
    color: white;
    background-image:url("../IMAGES/titulo.jpg");
     background-size: cover;
    background-attachment: fixed;
}
h2{
   font-family: sans-serif;
    font-size: 80px;
    color: crimson;
    text-indent:inherit;
    text-decoration:inherit;
    text-align: center;
}

h3 {
    font-family:serif;
    font-size: 50px;
    color:black;
    text-indent:inherit;
    text-decoration:underline;
    background-color:deeppink;
    text-align: center;
    background-image: url("../IMAGES/subtitulos.jpg");
}
h1:hover {
    color:deeppink;
    font-size: 120px;  
    transition: all 2s;
}
h2:hover {
    color:white;
    font-size: 120px;  
    transition: all 2s;
}
h3:hover {
    color:white;
    font-size: 100px;  
    transition: all 2s;
}

p{
    font-family: monospace;
    font-size: 20px;
    color:snow;
    
}