body{ background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSOGWjKEesbw09lv7q_qb5OpNbDFSHc27K6KXkikkjCeWHKVLOn")    }

h1{
    text-align:center;
    color:#696969;
    border-style:300px;
        border-bottom-left-radius:whait;
    font-family: cursive;
    font-size: 150px;
    background-image:url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQUUmt0NJW3dGjJzIEFnCMQKG3TGZH8h8aqVrCvzGPtQuS6iycM3g")
}
h2     {
    
}

h3 {
    text-decoration-color: crimson;
    border: 200px;
    font-family: fantasy;
    font-size: 100px;
    
}